<div class="row justify-content-sm-center">
    <h2 class="header">Leaderboard</h2>
</div>

<table class="leaderboard-table">
    <thead>
      <tr>
        <th>Initials</th>
        <th>Client</th>
        <th>Molecule</th>
        <th>Lots</th>
        <th>Time</th>
        <th>Reagents?</th>
        <th>Date</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of leaderboardData">
        <td>{{ entry.initials }}</td>
        <td>{{ entry.client }}</td>
        <td>{{ entry.molecule }}</td>
        <td>{{ entry.lots }}</td>
        <td>{{ convertToTimeFormat(entry.time) }}</td>
        <td><input type="checkbox" checked="{{ entry.reagents_prepared }}" /></td>
        <td>{{ entry.date }}</td>
        <td>{{ entry.day }}</td>
      </tr>
    </tbody>
  </table>