<div class="navbar bg-dark navbar-dark">
    <div class="navbar-expand-sm">
        <!-- Links -->
        <ul class="navbar-nav">
    
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Menu
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/']">Home</a>
            <a class="dropdown-item" [routerLink]="['/new-test']">New Test</a>
            <a class="dropdown-item" [routerLink]="['/leaderboard']">Leaderboard</a>
            <a class="dropdown-item" href="#">Personal</a>
            </div>
        </li>
        </ul>
    </div>
    <div class="navlogo">
      <img src="//img1.wsimg.com/isteam/ip/5cb9f50c-4da4-4535-985d-d97a12732c59/MC%20Labs%20Logo.jpg/:/rs=h:75,cg:true,m/qt=q:100/ll">

    </div>
</div>

  
