<div class="navbar bg-dark navbar-dark">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/']">Home</a></li>
            <li><a class="dropdown-item" [routerLink]="['/new-test']">New Test</a></li>
            <li><a class="dropdown-item" [routerLink]="['/leaderboard']">Leaderboard</a></li>
            <li><a class="dropdown-item disabled" href="#">Personal</a></li>
        </ul>
    </div>
    <div class="navlogo">
      <img src="//img1.wsimg.com/isteam/ip/5cb9f50c-4da4-4535-985d-d97a12732c59/MC%20Labs%20Logo.jpg/:/rs=h:75,cg:true,m/qt=q:100/ll">

    </div>
</div>

  
