<div class="row justify-content-sm-center">
<h2 class="header"> Start Test </h2>
</div>

  <div class="justify-content-sm-center">
    <div class="col-md-4">
      <form (ngSubmit)="submitForm(form)">

        <div class="form-group">
          <label for="initials">Initials</label>
          <input type="text" id="initials" name="initials" [(ngModel)]="form.initials" class="form-control" />
        </div>

        <div class="form-group">
        <label for="client">Client</label>
        <select type="text" id="client" name="client" [(ngModel)]="form.client" class="form-select" aria-label="Client">
            <option value="0002">0002</option>
            <option value="0109">0109</option>
            <option value="0147">0147</option>
            <option value="0155">0155</option>
            <option value="0159">0159</option>
            <option value="0164">0164</option>

        </select>
        </div>


        <div class="form-group">
          <label for="molecule" class="form-label">Molecule</label>
          <input type="text" id="molecule" name="molecule" [(ngModel)]="form.molecule" class="form-control" list="moleculeList" id="molecule" placeholder="Select a molecule..."/>
          <datalist id="moleculeList">
            <option value="0002 1% B12 Trituration">
              <option value="0002 Chewable Vitamin / Project Orange">
              <option value="0002 FeraMAX 45 Pd Tablets (Formerly Chewable Vitamin FP-40164)">
              <option value="0002 Iron, Vitamin C Chewables - FP40158 and FP-40161">
              <option value="0002 Irospan">
              <option value="0002 Litesse 2 Methods">
              <option value="0002 Nestabs">
              <option value="0002 Nnodum Prenatal">
              <option value="0002 NovaFerrum Vitamin C Chewable tablets">
              <option value="0002 PNV Prenatal Vitamin - Prinova">
              <option value="0002 Vitamin A Project">
              <option value="0002 Vitamin B12, C, PIC Tablets">
              <option value="0002 Talc">
              <option value="0109 Acetaminophen 325mg">
              <option value="0109 Acetaminophen">
              <option value="0109 Acetaminophen 650 mg ER - Ohm">
              <option value="0109 Acetaminophen 300mg/Codeine 30mg">
              <option value="0109 Alprazolam">
              <option value="0109 Amantadine">
              <option value="0109 Amlodipine Besylate-ACI/Vivimed">
              <option value="0109 Amlodipine Besylate Alkem/Ascend - 2022">
              <option value="0109 Allopurinol Tablets 100mg (Watson)">
              <option value="0109 Aripiprazole Tablets 5 mg - Dr. Reddy">
              <option value="0109 Aspirin DR Tablets">
              <option value="0109 Aspirin EC 81mg Tablets USP">
              <option value="0109 Aspirin 325mg Tablets">
              <option value="0109 Aspirin Chewable Tablets">
              <option value="0109 Aspirin 81mg EC PL Developments">
              <option value="0109 Aspirin EC 81 mg PL Development">
              <option value="0109 Atenolol Tablets (Unique)">
              <option value="0109 Atorvastatin (Apotex)">
              <option value="0109 B12 Rugby / Gemini">
              <option value="0109 B12 Rugby / Sentry">
              <option value="0109 B12 Rugby Contract">
              <option value="0109 Baclofen">
              <option value="0109 Baclofen - 2021 Amneal">
              <option value="0109 Baclofen - 2023 Advagen/Rubicon">
              <option value="0109 Benzonatate">
              <option value="0109 Benzonatate Strides 2022">
              <option value="0109 Benztropine Mesylate">
              <option value="0109 Benztropine - 2023 PAR">
              <option value="0109 Bupropion - Cipla/Invagen">
              <option value="0109 Bupropion HCl 75mg &amp; 100mg">
              <option value="0109 Bupropion HCl ER Tabs">
              <option value="0109 Bupropion XL ER Slate-Run/Yichang">
              <option value="0109 Buspirone 7.5 mg Strides - 2022">
              <option value="0109 Calcium 600mg Tablets">
              <option value="0109 Calcium Carbonate 1250mg">
              <option value="0109 Calcium w/Vitamin D 600mg/400IU Tablets">
              <option value="0109 Carbidopa Levodopa 2022 ScieGen">
              <option value="0109 Carbamazepine Tablets (Taro)">
              <option value="0109 Carbamazepine Tablets-Teva">
              <option value="0109 Celecoxib Capsules 200mg">
              <option value="0109 Cetirizine - 2023 Granules">
              <option value="0109 Cetirizine-Perrigo/Perrigo">
              <option value="0109 Citalopram">
              <option value="0109 Ciprofloxacin Tablets">
              <option value="0109 Clonazepam">
              <option value="0109 Clonidine-Unichem">
              <option value="0109 Clonidine 0.1/0.3 mg Tablets-Actavis/Actavis">
              <option value="0109 Clopidogrel">
              <option value="0109 Cyclobenzaprine Tablets 5mg (KVK Tech)">
              <option value="0109 Cyclobenzaprine 10 mg Tablets (Invagen)">
              <option value="0109 Divalproex (Unichem)">
              <option value="0109 Divalproex Sodium ER Tablets 250mg 500mg Dr. Reddys">
              <option value="0109 Docusate Sodium">
              <option value="0109 Duloxetine">
              <option value="0109 Duloxetine DR Capsules-Torrent/Torrent">
              <option value="0109 Entacapone">
              <option value="0109 Escitalopram_Accord">
              <option value="0109 Escitalopram - Aurobindo 2023">
              <option value="0109 Esomeprazole">
              <option value="0109 Ezetimibe Tablets 10mg">
              <option value="0109 Fenofibrate Tablets 160mg Ajanta">
              <option value="0109 Fenofibrate Tablets">
              <option value="0109 Ferrous Sulfate">
              <option value="0109 Fludrocortisone">
              <option value="0109 Fluoxetine">
              <option value="0109 Gabapentin">
              <option value="0109 Glimepiride Tablets 1mg_4mg TEVA">
              <option value="0109 Glimepiride 1mg 4mg Micro Lab">
              <option value="0109 Glipizide">
              <option value="0109 Glipizide Tablets Teva 2022">
              <option value="0109 Glycopyrrolate">
              <option value="0109 Haloperidol">
              <option value="0109 Hydroxychloroquine Sulfate 200mg Tablets">
              <option value="0109 Hydrochlorothiazide-Avet/Avet 2023">
              <option value="0109 Hydroxyzine--Heritage">
              <option value="0109 Hydroxyzine Pamoate - Amneal">
              <option value="0109 Ibuprofen Dr. Reddy's">
              <option value="0109 Ibuprofen Strides">
              <option value="0109 Isosorbide">
              <option value="0109 Isosorbide - Advagen/Rubicon 2023">
              <option value="0109 Labetalol">
              <option value="0109 Levetiracetam">
              <option value="0109 Levothyroxine 2022">
              <option value="0109 Lisinopril - Lupin">
              <option value="0109 Lithium Carbonate Caps 300mg">
              <option value="0109 Loperamide-Mylan">
              <option value="0109 Loratadine">
              <option value="0109 Lovastatin-Lupin">
              <option value="0109 Meclizine HCl Tablets">
              <option value="0109 Metformin">
              <option value="0109 Metformin ER - Alkem">
              <option value="0109 Methocarbamol 2022 ACI Healthcare">
              <option value="0109 Metoclopramide Tablets">
              <option value="0109 Metoprolol Succinate--Dr Reddy's">
              <option value="0109 Metoprolol Tartrate - Alembic">
              <option value="0109 Midodrine HCl">
              <option value="0109 Montelukast">
              <option value="0109 MVTR 2022">
              <option value="0109 Naproxen-Amneal">
              <option value="0109 Olanzapine Tabs">
              <option value="0109 Omeprazole Capsules">
              <option value="0109 Ondansetron">
              <option value="0109 Oxybutynin Strides 2022">
              <option value="0109 Oyster Shell Ca 500mg w/VitD 200IU">
              <option value="0109 Oyster Shell Calcium 500mg tablets-Rugby/Contract">
              <option value="0109 Oyster Shell Calcium SM-0397">
              <option value="0109 Pantoprazole">
              <option value="0109 Paroxetine-Solco/Zhejiang">
              <option value="0109 Paroxetine - Aurobindo">
              <option value="0109 Pentoxifyline ER">
              <option value="0109 Phenytoin">
              <option value="0109 Potassium Chloride ER 750 mg Tablets--Lupin">
              <option value="0109 Potassium Chloride ER Tablets-- Granules">
              <option value="0109 Pravastatin">
              <option value="0109 Prednisone-Strides 2022">
              <option value="0109 Prednisone-Amneal 2023">
              <option value="0109 Primidone - Amneal">
              <option value="0109 Propranolol">
              <option value="0109 Propranolol Amneal 2022">
              <option value="0109 Quetiapine">
              <option value="0109 Quetiapine - Unichem 2023">
              <option value="0109 Raloxifene HCl">
              <option value="0109 Risperidone">
              <option value="0109 Ropinirole--Alembic">
              <option value="0109 Sennosides">
              <option value="0109 Senexon-S USP">
              <option value="0109 Senexon-S">
              <option value="0109 Senexon-S Tablets 8.6/50 mg USP Rugby/Pharbest">
              <option value="0109 Spironolactone-Accord/Intas">
              <option value="0109 Spironolactone-Aurobindo/Aurobindo 2023">
              <option value="0109 Sucralfate">
              <option value="0109 Sulfamethoxazole Trimethoprim">
              <option value="0109 Tamsulosin-Zydus">
              <option value="0109 Tamsulosin-Rising/Aurobindo">
              <option value="0109 Topiramate _ Glenmark">
              <option value="0109 Tizanidine">
              <option value="0109 Triamterene and HCTZ">
              <option value="0109 Valproic Acid">
              <option value="0109 Vitamin C">
              <option value="0109 Vitamin D3 (Cholecalciferol) 1000IU Tablets">
              <option value="0109 Zolpidem">
              <option value="0138 Abacavir">
              <option value="0138 Acarbose">
              <option value="0138 Acetazolamide ER Capsule (Micro Labs)">
              <option value="0138 Alprazolam Aurobindo 2022">
              <option value="0138 Aminocaproic Acid (Amneal)--Cancelled pre MTT">
              <option value="0138 Amitriptyline">
              <option value="0138 Aripiprazole Oral">
              <option value="0138 Aspirin/Dipyridamole - Amneal">
              <option value="0138 Atomoxetine HCl">
              <option value="0138 Azithromycin">
              <option value="0138 Baclofen">
              <option value="0138 Benzonatate">
              <option value="0138 Budesonide">
              <option value="0138 Bupropion Solco 2022">
              <option value="0138 Buspirone HCl - Zydus">
              <option value="0138 ButalbitalAPAPCaffeine--Par">
              <option value="0138 ButalbitalAPAPCaffeine --Nexgen (2021)">
              <option value="0138 Butalbital/APAP/Caffeine - Westminster - 2022">
              <option value="0138 Calcitriol Strides">
              <option value="0138 Carbamazepine ER Capsules">
              <option value="0138 Celecoxib">
              <option value="0138 Cinacalcet">
              <option value="0138 Clindamycin Capsules USP 300mg Micro Labs Limited">
              <option value="0138 Clobazam">
              <option value="0138 Clonazepam">
              <option value="0138 Clonidine">
              <option value="0138 Clopidogrel-Westminster/ScieGen">
              <option value="0138 Cyproheptadine Hydrochloride">
              <option value="0138 Desvenlafaxine Succinate ER - Breckenridge">
              <option value="0138 Dextroamphetamine Mixed Salts Tablets">
              <option value="0138 Diltiazem - 2023 Glenmark">
              <option value="0138 Divalproex 500mg">
              <option value="0138 Doxazosin Mesylate 1 and 7mg Tablets">
              <option value="0138 Doxecycline Caps">
              <option value="0138 Dronabinol">
              <option value="0138 Dutasteride 0.5mg">
              <option value="0138 Efavirenz 600mg Tablets">
              <option value="0138 Entacavir">
              <option value="0138 Esomeprazole 2022 Camber">
              <option value="0138 Etodolac 400 mg Tablets Apotex">
              <option value="0138 Ezetimibe 10mg Tablets">
              <option value="0138 Fenofibrate Capsules 134mg">
              <option value="0138 Fenofibrate 2022 Glenmark">
              <option value="0138 Fexofenadine">
              <option value="0138 Flucytosine Lupin">
              <option value="0138 Fluvoxamine Maleate 25mg and 100mg Tablets">
              <option value="0138 Fosinopril Sodium">
              <option value="0138 Fluoxetine">
              <option value="0138 Gabapentin Tablets 2022 Westminster">
              <option value="0138 Glimepiride">
              <option value="0138 Glipizide 5mg and 10mg Tabslets Apotex">
              <option value="0138 Guanfacine ER Tablets Apotex">
              <option value="0138 Haloperidol 2019">
              <option value="0138 Hydrocodone and Homatropine 5/1.5mg/mL OS (Wockhardt)">
              <option value="0138 Hydroxychloroquine">
              <option value="0138 Hydroxychloroquine Sulfate">
              <option value="0138 Hydrochlorothiazide 12.5 mg Capsules - Westminster">
              <option value="0138 Hydrocortisone Tablets - Mikart - 2022">
              <option value="0138 Imatinib">
              <option value="0138 Itraconazole OS">
              <option value="0138 Lamivudine and Ziduvudine">
              <option value="0138 Letrozole">
              <option value="0138 Leflunomide 10mg 20 mg Apotex">
              <option value="0138 Lisinopril/HCTZ">
              <option value="0138 Loperamide Bion 2022">
              <option value="0138 Losartan">
              <option value="0138 Metformin HCl ER Tablets (CSPC/TAGI)">
              <option value="0138 Methenamine Hippurate Tablets 1000mg">
              <option value="0138 Methocarbamol">
              <option value="0138 Methotrexate">
              <option value="0138 Methylphenidate - ASCENT">
              <option value="0138 Methylphenidate HCl">
              <option value="0138 Metoprolol">
              <option value="0138 Metronidazole">
              <option value="0138 Methylergonovine Maleate 0.2mg Lupin">
              <option value="0138 Methylergonovine 0.2 mg Tablets Amneal 2022">
              <option value="0138 Midodrine">
              <option value="0138 Misoprostol">
              <option value="0138 Mycophenolate Acid DR - Apotex">
              <option value="0138 Nitrofurantoin Capsules - TEVA">
              <option value="0138 Olmesartan Medoxomil - DRL -2022">
              <option value="0138 Omeprazole - Dr. Reddy's - 2022">
              <option value="0138 Oxybutynin OS">
              <option value="0138 Oxycodone 5 mg/mL OS">
              <option value="0138 Phytonadione 5mg">
              <option value="0138 Pilocarpine HCl">
              <option value="0138 Potassium Chloride Oral Solution">
              <option value="0138 Prasugrel">
              <option value="0138 Pravastatin Apotex">
              <option value="0138 Pravastatin - Zydus">
              <option value="0138 Pregabalin Capsules (Bracketing)">
              <option value="0138 Prochlorperazine">
              <option value="0138 Propanolol">
              <option value="0138 Propranolol - Amneal 2023">
              <option value="0138 Quinapril USP">
              <option value="0138 Raloxifene">
              <option value="0138 Ropinirole --Solco">
              <option value="0138 Rosuvastatin">
              <option value="0138 Silver Sulfadiazine 1% Cream">
              <option value="0138 Spironolactone">
              <option value="0138 Tadalafil">
              <option value="0138 Temazepam Capsules - 2023 Ascend">
              <option value="0138 Temazepam Capsules - Novel - 2022">
              <option value="0138 Terazosin">
              <option value="0138 Tizanidine">
              <option value="0138 Tolterodine">
              <option value="0138 Tranexamic Acid">
              <option value="0138 Trazodone HCl">
              <option value="0138 Sirolimus">
              <option value="0138 Venlafaxine - 2022 - Aurobindo">
              <option value="0138 Voriconazole--Zydus Cadilla">
              <option value="0138 Voriconazole 2022 (Solco)">
              <option value="0138 Ziprasidone">
              <option value="0147 Amphotericin B USP, Oral Grade">
              <option value="0147 Betahistine HCl">
              <option value="0147 Cocoa Butter">
              <option value="0147 General Chapter Price Quote">
              <option value="0147 Glutathione">
              <option value="0147 Glycerin USP">
              <option value="0147 Methylcellulose 4000">
              <option value="0147 Nortriptyline HCl">
              <option value="0147 Phenylephrine HCl">
              <option value="0147 Polyethylene Glycol 400">
              <option value="0147 Polyethylene Glycol 1450">
              <option value="0147 Propylene Glycol">
              <option value="0147 Quinine Sulfate">
              <option value="0147 Silicon Dioxide">
              <option value="0155 Abiraterone Acetate">
              <option value="0155 Acamprosate Calcium DR - Glenmark">
              <option value="0155 Acetaminophen">
              <option value="0155 Acetazolamide ER">
              <option value="0155 Allopurinol Tablets 100mg">
              <option value="0155 Alprazolam">
              <option value="0155 Amantadine Capsules - USP">
              <option value="0155 Aminocaproic Acid-Amneal">
              <option value="0155 Amitriptyline-Intas">
              <option value="0155 Aripiprazole-Amneal 2023">
              <option value="0155 Aspirin Chewable">
              <option value="0155 Aspirin 81 mg DR Tablets LNK 2023">
              <option value="0155 Aspirin/ER Dipyridamole 25/200mg Capsules-PAR">
              <option value="0155 Atazanavir Sulfate">
              <option value="0155 Atovaquone-Hetero/Camber">
              <option value="0155 Azithromycin">
              <option value="0155 Azithromycin -Lupin 2023">
              <option value="0155 Baclofen">
              <option value="0155 Baclofen 2022 - Lannett">
              <option value="0155 Benztropine Mesylate Tablets PAR/Sunrise">
              <option value="0155 Benztropine -PAR/Endo 2023">
              <option value="0155 Budesonide-Amneal">
              <option value="0155 Budesonide-Actavis">
              <option value="0155 Budesonide-Cadila/Zydus 2022">
              <option value="0155 Bumetanide-Amneal">
              <option value="0155 Bupropion_Lupin">
              <option value="0155 Bupropion XL 150 and 300mg ER (MFR Slate Run)">
              <option value="0155 Bupropion 100/150mg - Slate Run/Yichang">
              <option value="0155 Buprenorphine and Naloxone Tablets">
              <option value="0155 Buspirone HCl">
              <option value="0155 Candesartan Cilexetil 32mg">
              <option value="0155 Calcitriol">
              <option value="0155 Calcium Acetate Capsules">
              <option value="0155 Captopril - Westward">
              <option value="0155 Captopril - Ajanta">
              <option value="0155 Carbamazepine ER 400mg (Taro)">
              <option value="0155 Carbamazepine ER 200mg Capsules">
              <option value="0155 Carbamazepine OS">
              <option value="0155 Carbidopa Levodopa">
              <option value="0155 Carbidopa Levodopa - 2023 Mayne">
              <option value="0155 Cetirizine">
              <option value="0155 Chlorpromazine HCl-Amneal">
              <option value="0155 Chlorpromazine HCl-Zydus">
              <option value="0155 Chlorthalidone">
              <option value="0155 Cinacalcet 30mg Tablets - Alkem/Ascend">
              <option value="0155 Cinacalcet 30 mg Tablets - Piramal">
              <option value="0155 Ciprofloxacin-Hikma">
              <option value="0155 Ciprofloxacin -Unique- USP Methods 2022">
              <option value="0155 Clomipramine HCl Capsules - Taro">
              <option value="0155 Clonazepam-Prinston">
              <option value="0155 Clopidogrel-Torrent/Apotex 2022">
              <option value="0155 Clozapine">
              <option value="0155 Colchicine-West-Ward">
              <option value="0155 Colchicine-Granules">
              <option value="0155 Dabigatran Capsules-Alkem 2022">
              <option value="0155 Dabigatran Capsules-Glenmark 2022">
              <option value="0155 Dantrolene-Amneal">
              <option value="0155 Dexamethasone Tablets-Amneal 2022">
              <option value="0155 Dicyclomine HCl Caps and Tabs">
              <option value="0155 Diltiazem-TWI Pharma">
              <option value="0155 Divalproex DR-Sun Pharma.">
              <option value="0155 Divalproex ER-Amneal">
              <option value="0155 Divalproex (Sprinkles)-Dr Reddy's 2022">
              <option value="0155 Dofetilide">
              <option value="0155 Doxepin HCL-Par">
              <option value="0155 Doxepin Capsules-USP/Amneal">
              <option value="0155 Doxycycline Hyclate Caps USP">
              <option value="0155 Dronabinol Capsules">
              <option value="0155 Duloxetine Capsules Aurobindo">
              <option value="0155 Duloxetine">
              <option value="0155 Desmopressin Acetate">
              <option value="0155 Enalapril-Avet 2022">
              <option value="0155 Entacapone-USP">
              <option value="0155 Ergocalciferol Capsules 1.25mg">
              <option value="0155 Ezetimibe">
              <option value="0155 Famotidine Tablets">
              <option value="0155 Fenofibrate 160mg Tablets - Lupin">
              <option value="0155 Fenofibrate Amneal">
              <option value="0155 Fenofibrate Cipla (145 mg Tablets)">
              <option value="0155 Folic Acid Tablets">
              <option value="0155 Folic Acid Tablets-Amneal">
              <option value="0155 Fludrocortisone-Novitium 2022">
              <option value="0155 Fluoxetine">
              <option value="0155 Fluoxetine-Aurobindo 2023">
              <option value="0155 Flucytosine">
              <option value="0155 Gabapentin (Alkem)">
              <option value="0155 Gabapentin (Aurobindo)">
              <option value="0155 Galantamine">
              <option value="0155 Glycopyrrolate">
              <option value="0155 Guafenesin OS (Rugby Chest Congestion OS)">
              <option value="0155 Guanfacine">
              <option value="0155 Haloperidol-Innogenix 2022">
              <option value="0155 Haloperidol-SANDOZ">
              <option value="0155 Haloperidol OS-Lannett/Silarx">
              <option value="0155 Hydralazine-Heritage 2022">
              <option value="0155 Hydrocodone/APAP-Novel/Lupin">
              <option value="0155 Hydrocodone/APAP-WES Pharma 2022">
              <option value="0155 Hydrocortisone Tablets">
              <option value="0155 Hydroxychloroquine Sulfate (SANDOZ)">
              <option value="0155 Hydroxychloroquine Sulfate 200mg Tablets (APPCO)">
              <option value="0155 Hydroxyzine Pamoate Capsules Heritage">
              <option value="0155 Imatinib Mesylate-Apotex">
              <option value="0155 Labetalol">
              <option value="0155 Lacosamide-Alkem">
              <option value="0155 Lacosamide OS-Alkem 2022">
              <option value="0155 Lamotrigine Tablets">
              <option value="0155 Leucovorin">
              <option value="0155 Levetiracetam OS">
              <option value="0155 Lisinopril-Lupin 2021">
              <option value="0155 Loratadine">
              <option value="0155 Losartan Potassium Tablets-Zydus/Cadila">
              <option value="0155 Lorazepam-Leading">
              <option value="0155 Lurasidone-Alkem 2023">
              <option value="0155 Megestrol OS">
              <option value="0155 Memantine">
              <option value="0155 Memantine HCl ER">
              <option value="0155 Mesalamine DR Tablets">
              <option value="0155 Metformin-Granules/Heritage">
              <option value="0155 Metformin HCL XR">
              <option value="0155 Methocarbamol 500/750mg Tablets">
              <option value="0155 Methotrexate-Zydus">
              <option value="0155 Methylergonovine-Granules - 2022">
              <option value="0155 Methylergonovine Maleate">
              <option value="0155 Metolazone- Alembic">
              <option value="0155 Metolazone-Innogenix 2022">
              <option value="0155 Metolazone-Unither/Lannett">
              <option value="0155 Metoprolol Succinate-Dr. Reddy's">
              <option value="0155 Metoprolol Succinate-Dr. Reddy's - 2022">
              <option value="0155 Metoprolol Tartrate-Sun">
              <option value="0155 Metronidazole">
              <option value="0155 Midodrine">
              <option value="0155 Minocycline HCl Caps-Torrent/WellSpring/Sun Pharma">
              <option value="0155 Misoprostol">
              <option value="0155 Misoprostol-Novitium 2022">
              <option value="0155 Modafinil C-IV-Apotex">
              <option value="0155 Montelukast">
              <option value="0155 Moxifloxacin">
              <option value="0155 Mycophenolate Acid DR">
              <option value="0155 Mycophenolate Mofetil-Intas">
              <option value="0155 Mycophenolate Mofetil-Strides">
              <option value="0155 Mycophenolic Acid-Alkem 2023">
              <option value="0155 Nadolol 20mg 40mg-Invagen">
              <option value="0155 Naltrexone HCl Tablets">
              <option value="0155 Nebivolol">
              <option value="0155 Nifedipine ER-Novast/Ingenus">
              <option value="0155 Nifedipine 30mg Tablets-TWI">
              <option value="0155 Nifedipine 10mg GEL Capsules-Avet (USP)">
              <option value="0155 Nitrofurantoin Capsules 50/100mg">
              <option value="0155 Nitrofurantoin 100 mg Macro/Mono Capsules">
              <option value="0155 Omega-3">
              <option value="0155 Omeprazole DR">
              <option value="0155 Ondansetron Oral Solution">
              <option value="0155 Oxcarbazepine Tablets - 2022">
              <option value="0155 Oxybutynin Chloride ER">
              <option value="0155 Oxybutynin ER-Intas - 2022">
              <option value="0155 Oxycodone">
              <option value="0155 Oxycodone 5mg-Amneal">
              <option value="0155 Oxycodone 15mg Tablets-Novel">
              <option value="0155 Oxycodone/APAP">
              <option value="0155 Oxycodone/APAP-WES Pharma Inc">
              <option value="0155 Paliperidone-Amneal">
              <option value="0155 Pantoprazole-Torrent 2022">
              <option value="0155 Phenytoin Oral Suspension">
              <option value="0155 Phytonadione">
              <option value="0155 Pioglitazone-Aurobindo">
              <option value="0155 Pilocarpine-Aurobindo">
              <option value="0155 Posaconazole-AET/Lupin">
              <option value="0155 Potassium Chloride 10% OS-Apotex">
              <option value="0155 Pramipexole">
              <option value="0155 Prazosin HCl 1/2/5mg Capsules">
              <option value="0155 Prochlorperazine-ANI 2023">
              <option value="0155 Propranolol">
              <option value="0155 Pyrazinamide">
              <option value="0155 Pyrazinamide">
              <option value="0155 Quetiapine Fumarate">
              <option value="0155 Raloxifene">
              <option value="0155 Ranolazine ER Tablets">
              <option value="0155 Rifabutin Capsules 150mg Lupin">
              <option value="0155 Rifampin 300mg Capsules-Lupin 2022">
              <option value="0155 Rivastigmine 1.5mg Capsules">
              <option value="0155 Rosuvastatin">
              <option value="0155 Sennosides 8.8mg OS-Llorens 2022">
              <option value="0155 Sertraline HCl-Lupin">
              <option value="0155 Sevelamer Carbonate Tablets">
              <option value="0155 Sevelamer HCl-Glenmark">
              <option value="0155 Sildenafil-Torrent">
              <option value="0155 Sirolimus Ascend 2022">
              <option value="0155 Sirolimus Glenmark">
              <option value="0155 Sodium Citrate - Citric Acid OS 2022">
              <option value="0155 Sucralfate Nostrum 2022">
              <option value="0155 Sulfamethoxazole/Trimeth">
              <option value="0155 Sulfamethoxazole and Trimethoprim Oral Suspension">
              <option value="0155 Tacrolimus 1mg">
              <option value="0155 Tamsulosin HCl - Lek/Sandoz">
              <option value="0155 Tamsulosin HCl-Aurobindo 2023">
              <option value="0155 Tenofovir-Macleods">
              <option value="0155 Torsemide-Heritage USP 2022">
              <option value="0155 Tramadol (Sun)">
              <option value="0155 Tretinoin Soft Gel">
              <option value="0155 Tizanidine">
              <option value="0155 Ursodiol">
              <option value="0155 Valganciclovir">
              <option value="0155 Valsartan Tablets">
              <option value="0155 Venlafaxine HCl ER Capsules">
              <option value="0155 Verapamil">
              <option value="0155 Voriconazole 2022">
              <option value="0155 Ziprasidone Capsules">
              <option value="0159 Abacavir-Aurobindo 2022">
              <option value="0159 Aminocaproic Acid-ANI/Amerigen 2023">
              <option value="0159 Anastrozole-Zydus">
              <option value="0159 Carbidopa Levodopa-Sun">
              <option value="0159 Colchicine-PAR 2022">
              <option value="0159 Colchicine-Endo/PAR 2023">
              <option value="0159 Colestipol-Amneal 2022">
              <option value="0159 Dabigatran Etexilate-Camber/Hetero 2023">
              <option value="0159 Desmopressin Acetate-Mallinckrodt 2022">
              <option value="0159 Dexamethasone-ANI/Novitium 2022">
              <option value="0159 Diltiazem-Teva 2022">
              <option value="0159 Diltiazem - Teva 2023">
              <option value="0159 Diphenoxylate and Atropine -ANI 2023">
              <option value="0159 Divalproex-Aurobindo 2022">
              <option value="0159 Doxycycline-Par">
              <option value="0159 Duloxetine-Ajanta">
              <option value="0159 Duloxetine-Rising/Aurobindo">
              <option value="0159 Efavirenz, Emtricitabine, Tenofovir-Annora 2022">
              <option value="0159 Emtricitabine and Tenofovir-Zydus 2023">
              <option value="0159 Escitalopram-Aurobindo 2022">
              <option value="0159 Fluphenazine-Dr. Reddy's 2023">
              <option value="0159 Galantamine-Aurobindo 2022">
              <option value="0159 Galantamine-Aurobindo/Rising 2023">
              <option value="0159 Guanfacine-Unichem 2022">
              <option value="0159 Hydralazine-Heritage 2022">
              <option value="0159 Hydralazine-Heritage/Avet 2023">
              <option value="0159 Hydrocodone and Homatropine OS - KVK 2023">
              <option value="0159 Hydroxyurea-PAR 2023">
              <option value="0159 Icosapent Ethyl-Accucaps 2023">
              <option value="0159 Lamivudine-Aurobindo 2022">
              <option value="0159 Lamivudine-Apotex 2022">
              <option value="0159 Lansoprazole-Dr. Reddy's 2022">
              <option value="0159 Lurasidone-Ascend/Alkem 2023">
              <option value="0159 Mesalamine ER-Sun 2022">
              <option value="0159 Methylphenidate-Mallinckrodt 2022">
              <option value="0159 Metoprolol Tartrate-Aurobindo 2022">
              <option value="0159 Misoprostol-ANI/Novitium 2023">
              <option value="0159 Naltrexone-Mallinckrodt 2023">
              <option value="0159 Oxcarbazepine-Annora/ANI 2023">
              <option value="0159 Pantoprazole-Aurobindo 2023">
              <option value="0159 Prasugrel-Intas/Accord 2022">
              <option value="0159 Ramelteon-Zydus 2022">
              <option value="0159 Sucralfate-Nostrum 2022">
              <option value="0159 Temazepam-Mallinckrodt 2022">
              <option value="0159 Torsemide-Camber/Hetero 2023">
              <option value="0159 Tramadol-Amneal 2023">
              <option value="0159 Tranexamic Acid-ANI 2023">
              <option value="0159 Ursodiol-Zydus">
              <option value="0159 Venlafaxine-Zydus">
              <option value="0164 Amiodarone 200 mg Tablets--Zydus">
              <option value="0164 Aripiprazole-Hetero">
              <option value="0164 Digoxin">
              <option value="0164 Divalproex 125 mg (Sprinkles)">
              <option value="0164 Duloxetine">
              <option value="0164 Fluconazole">
              <option value="0164 Hydroxychloroquine">
              <option value="0164 Hydralazine - Strides 2023">
              <option value="0164 Lansoprazole-Dr Reddy's">
              <option value="0164 Metoprolol Succinate-Zydus">
              <option value="0164 Naproxen-Amneal 2023">
              <option value="0164 Paliperidone">
              <option value="0164 Rosuvastatin 20 mg Tablets - Glenmark">
              <option value="0164 Sildenafil-Hetero 2023">
              <option value="0164 Tamoxifen--Teva">
          </datalist>
        </div>

        <div class="form-group">
          <label for="property">Property</label>
          <select type="text" id="property" name="property" [(ngModel)]="form.property" class="form-select" aria-label="Test property">
            <option value="AS">AS</option>
            <option value="RS">RS</option>
            <option value="AS/RS">AS/RS</option>
            <option value="DIS">DIS</option>
            <option value="LIM">LIM</option>
            <option value="Other">Other</option>

        </select>
        </div>

        <div class="form-group">
          <label for="lots">Lots</label>
          <input type="number" id="lots" name="lots" [(ngModel)]="form.lots" class="form-control" placeholder="1"/>
        </div>

        <div class="form-group">
          <label for="reagents_prepared">Reagents Prepared?</label>
          <input type="checkbox" id="reagents_prepared" name="reagents_prepared" [(ngModel)]="form.reagents_prepared" class="form-check"/>
        </div>


        <div class="form-group">
        <div style="display: flex; margin-top: 10px;">
         <button
            type="submit"
            class="btn btn-primary"
            style="margin-left: auto; width: 30%;"
        >
              Next
         </button>
       </div>
       </div>
    </form></div>
  </div>
