<div class="row justify-content-sm-center">
<br><br>
<h2> Start Test </h2>
</div>
  <div class="row justify-content-sm-center">
    <div class="col-sm-6">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
        <label for="client">Client</label>
        <select class="form-control" placeholder="0155">
            <option value="0002">0002</option>
            <option value="0109">0109</option>
            <option value="0147">0147</option>
            <option value="0155">0155</option>
            <option value="0159">0159</option>
            <option value="0164">0164</option>

        </select>
        </div>

        <div class="form-group">
          <label>Molecule & Test</label>
       <input class="form-control" placeholder="Gabapentin AS" />
        </div>

        <div class="form-group">
          <label>Lots</label>
          <input class="form-control" placeholder="1" />
        </div>

        <div class="form-group">
      <div style="display: flex; margin-top: 10px;">
         <button
            type="submit"
            class="btn btn-primary"
            style="margin-left: auto; width: 30%;"
        >
               Start
         </button>
       </div>
       </div>
    </form></div>
  </div>
